#nav_new:hover
{
  background-color: #273032;
padding-top:2px; 
padding-bottom: 1px;
}

.has-search .form-control {
    padding-left: 2.2rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 1.375rem;
    height: 2.375rem;
    line-height: 2.90rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;padding-left: 10px;
}
  .hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #5F5F5F;
  margin: 10px 0px;
  width: 272px;
  padding-top: 10px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

 .nav_one
 {
  background-color: #1C2224;color: white;height: 60px;
 }

 .bor_der
 {
border-left: .5px solid gray;
  height: 65px;margin-top: -10px;
 }
 .nav_two_drop
 {
width: 160px;margin-left: 27px;margin-right: 108px;margin-top: 7px;
 }

 .nav_men_drop
          {
           margin-top: 1px;min-width: 435px;margin-left: -70px;box-shadow: 1.5px 1.5px 1.5px 1.5px #eee; 
          }
          .nav_men_p
          {
           color: #5F5F5F;margin-top: 15px;margin-bottom: 20px;font-size: 14.5px; 
          }
          .nav_nich_line
          {
           border-radius: 3px;box-shadow: .5px .5px .5px .5px #eee;
           margin-left: 20px;margin-right: 20px;
           border:1px solid #eee;padding-top: 5px;
           padding-bottom: 5px;padding-right: 15px; 
          }

          .nav_fst_img
          {
           display: inline-block;background-color: #BCE6F8;border-radius: 50%;
           margin-left: -110px; 
          }

          .nav_img_i
          {
          display: inline-block;color: #E96125;font-size: 22px;float: right;margin-top: 15px;
          }

          .nav_sel
          {
            background-color: #F9F9F9;height: 229px;margin-top: 22px;margin-bottom: -8px;
          }

          .nav_dow_but
          {background-color: white;color:#5F5F5F;
            border:.5px solid #CED4DA ;font-size: 15px;}

          .nav_sea_box
          {
            background-color: #F9F9F9;
            color: gray;padding: 11.76px 10.66px 10.66px 10.66px;
            border-radius: 0px 3px 3px 0px;
          }

          .nav_login
          {
            width: 130px;margin-left: 27px;margin-top: 3px;
          }


     .box {
  font-family: Arial, sans-serif;
  border-radius: 2px;
  margin-bottom: 30px;
  padding: 20px;
  color: #444;
  background-color: #FFFFFF;
  width: auto;
  margin-right: 5px;
 margin-top: 5px;
 overflow-y: scroll;
height: 600px;
}
.box p {
    color: red;
    display: block;
    font-size: 14px;color: #747474;
    cursor: pointer;
    margin-left: 20px;
    line-height: 30px;
    letter-spacing: .5px;
    border-bottom:1 solid #F0F1F4;

}

.hr_line
{
border-bottom:1 solid #F0F1F4;
margin-left: -20px;max-width: 274px;
margin-right: -20px;
}
.box ul {
    display: none;
}
.box li {
    color: #666;
    padding-left: 12px;

}
.box .plus, .box .minus {
     color: #3BB1D0;
    cursor: pointer;
    float: left;
    position: relative;
    right: 19px;
    bottom: -6px;

}
.box .plus:before {
    content: '';
    display: block;
    left: 7px;
    width: 2px;
    height: 10px;
    margin-top: 4px;
    background: #F26E21;
    border-radius: 2px
}
.box .plus:after {
    content: '';
    display: block;
    left: -4px;
    width: 10px;
    height: 2px;
    top: 8px;
    background: #F26E21;
    border-radius: 2px;
    position: absolute
}
.box .minus:before {
    content: '';
    display: block;
    left: 7px;
    width: 1px;
    height: 0;
    margin-top: 0;
    background: #F26E21;
    border-radius: 2px
}
.box .minus:after {
    content: '';
    display: block;
    left: -4px;
    width: 10px;
    height: 2px;
    top: 8px;
    background: #F26E21;
    border-radius: 2px;
    position: absolute
}

.pro_list_li
{
  color: #7A7A7A;letter-spacing: 1px;font-size: 14.5px;border-bottom: 1px solid #F0F1F4;line-height: 45px;margin-right: -18px;
}


.sli_imag
  {
  height:50px;max-width: 50px;  
  }
  .sli_p
  {
   color: black;font-size: 12px; 
  }

  .sli_image2
  {
    height: 120px;max-width: 100px;  padding-top: 20px;
  }

  .sli_image2:hover
  {
     -webkit-transform: translateY(-10px);
    transform: translateY(-10px);  
      transition: 0.7s;

  }

  .sli_p2
  {
   color: black;font-size: 16px;
   color: #898989;min-height: 50px;margin-bottom: 7px;
  }

  .fir_prize
  {
   font-size: 18px;margin-top: -10px;
  }
  .fir_prize2
  {
   font-size: 16px;color: #9B9B9B;margin-top: -10px; 
  }
  .hr_one
  {
   width: 40px;margin-top: -17px; border-top: 2px solid #A5A7AE;margin-left: -1px; 
  }
  .pro_div
  {
    background-color: #EDFBFD;border-radius: 3px;
    border:1px solid #31BCCC;height: 27px;padding-left: 10px;
    margin-top: 10px;width: 100%;
  }
  
  .product_item
  {
   padding-left: 20px;padding-right: 20px;
   min-height: 307px;width: 245px;border-right:1px solid #CCCCCC;
    padding-top: -200px;
  }
  .product_item:hover
  {
   border:.5px solid #CCCCCC; 
  }

  .product_sec_item2
  {
  background-color:white;
   padding-left: 20px;padding-right: 20px;height: 345px;border:1px solid #F0F1F4; 
  }

  .product_sec_item2:hover
  {
  border:.5px solid #CCCCCC; 
  }
  .sli_image4
  {
    height: 130px;max-width: 120px;  padding-top: 20px;margin-bottom: 30px;
  }

  .sli_image4:hover
  {
     -webkit-transform: translateY(-10px);
    transform: translateY(-10px);  
      transition: 0.7s;

  }
  .product_cont
  {
   background-color:white;
   margin-top: 10px;width: 90%;
   border:.5px solid #F1F1F1;border-radius: 3px ;height: 309px;
  }
  .but_add
  {
    font-size: 13px;border-radius: 23px;margin-top: -7px;border:1px solid #E96125;color: #E96125
  }
  .but_add:hover
  {
    background-color: #E96125;
    border:1px solid #E96125;
  }

  .cat_row
  {
    background-color:white;border:.5px solid #F1F1F1;border-radius: 5px;
    min-height: 165px;width: 102%;
    margin-bottom: 15px;
  }

  .cat_image
  {
height: 160px;max-width: 160px;
  }

  .cat_p
  {
color: #5BB52F;font-size: 13px;margin-top: 28px
  }

  .big_slider
  {
background-color:white;padding: 0px 100px 0px 120px;
margin-top: 10px;margin-left: 62px;min-width: 90%;
border:.5px solid #F1F1F1;border-radius: 3px ;
  }

  .big_image
  {
   width: 97%;height: 260px; 
  }

  .big_left
    {
     margin-left: -80px;padding: 3px;border-radius: 50%;
     background-color: #DBDBDB;height: 45px;width: 45px;margin-top: 100px; 
    }

    .big_right
    {
     margin-right: -60px;padding: 3px;border-radius: 50%;
     background-color: #DBDBDB;height: 45px;width: 45px;margin-top: 100px; 
    }

  .top_heads
  {
    margin-top: 30px;margin-left: 48px;
    width: 90%;margin-bottom: 20px;
  }

  .top_heads2
  {
   margin-top: 30px;margin-left: 48px;width: 90%;margin-bottom: 20px; 
  }
  .top_view
  {
    float: right;margin-right: -25px;color: #E96125;
  }
   .product_sec_item
  {
  background-color:white; padding-left: 20px;padding-right: 20px;height: 310px;width: 239px;border-right:1px solid #CCCCCC; padding-top: -200px;  border-radius: 4px; 
  }

    @media screen and (max-width:768px){
      .bgy{
        left: -15px
      }

       .product_sec_item2
  {
  background-color:white; 
  height: 369px;border:1px solid #F0F1F4;margin-top: 20px;
  }
#sid_men
{
display: none;
}
.body_div
{
margin-left: -55px;padding-right: 70px;padding-top: 5px;
}

.first_div
{
display: none;
}

.big_image
{
  min-width: 363px;
  margin-left: -20px;height: 170px;
}

.big_slider
{
  padding: 0px 10px 0px 16px;
}

.big_left
{
  display: none;
}
.big_right
{
  display: none;
}

.navbar
{
  width: 360px;
}

.disp_inline
{
  display: inline-block;width: 74%;font-size: 12px;
}

.disp_inline h5
{
font-size: 15px;
}

.disp_inline2
{
  display: inline-block;width: 22%;
}

.disp_inline2 h6
{
  font-size: 13px;
}

.dis_pro1
{
  display: inline-block;width: 35%;
}

.dis_pro2
{
  display: inline-block;width: 55%;
}

.product_cont
{
 max-width: 300px;
  overflow: hidden;height: 300px;margin-left: 82px;border:2px solid;
}

.nby
{
 margin-left: 80px;
}

.sma_bach
{
  min-width: 300px;margin-left: 20px
}

.imgkl
{
display: none;
}

.imgkl2
{
  display: none;
}
.top_heads
{
  background-color: white;padding: 15px 16px 10px 14px;margin-left: 62px;width: 99%
}

.top_heads h5
{
  font-size: 15px;
}



.top_heads2
{
  background-color: white;padding: 15px 16px 10px 14px;margin-left: 62px;width: 99%
}


}


  .pro_inter
    {
     max-width: auto;max-height: 370px; 
    }

    .pro_cont
    {
     color: black;font-size: 25px; 
    }

    .pro_det
    {
      margin-top: 50px;color: #4C4C4C;font-size: 17px;
    }

    .pro_det2
    {
     color: #4C4C4C;font-size: 14.5px;margin-top: -8px 
    }
    .pro_det3
    {
     color: #A3A3A3;font-size: 14.5px;margin-top: -13px 
    }

    #viewline
    {
margin-top: 2px;border-top:6px solid #EAEAEA
    }
     .per_off
  {
background-color: #51AA1B;padding: 5px 10px 6px 10px;color: white;border-radius: 4px;
  }

  .per_more
  {
    color: #A3A3A3;margin-top: 10px;font-size: 14px;
  }

  .per_mrp
  {
color: black;  -webkit-text-decoration-line: line-through;text-decoration-line: line-through;
  }

  .big_word
  {
font-size: 27px;color: #51AA1B;font-weight: bold;margin-left: 10px;
  }

.gray_div
{
max-width: 490px;background-color: #F7F7F7;
padding: 13px 15px 5px 15px;margin-top: 17px;border-radius: 2px;
}
.pro_button
  {
background-color:white;padding: 5px 10px 6px 10px;color: #F26E21;border-radius: 4px;border:1px solid #F26E21;margin-right: 10px;
  }
  .pro_button2
  {
background-color:#F9F9F9;padding: 5px 10px 6px 10px;color: #D6D6D6;border-radius: 4px;border:1px solid #D6D6D6;margin-right: 10px;
  }

  .add_cart
  {
width: 160px;background-color: #E96125;color: white;font-size: 16px;height: 50px;margin-top: 10px;
  }

  .add_image
  {
margin-top: 12px;margin-left: 24px;font-size: 17px;color: #454545
  }
  .add_easy
  {
display: inline-block;margin-right: 5px;margin-top: -25px;margin-left: 26px;
  }

   .homee
             {
              background-color: white;margin-left: 25px;margin-right: 25px;padding: 14px 20px 5px 20px;border:1px solid #EEEEEE
             }
             .homee:hover
             {
              background-color: #EEEEEE
             }